<form name="form" class="form-horizontal" novalidate>

    <div class="form-group" ng-class="{'has-error': form.name.$error.required}">
        <label class="col-sm-3 control-label" for="name" translate="assignment.form.name.label"></label>

        <div class="col-sm-9">
            <input id="name"
                   name="name"
                   type="text"
                   class="form-control"
                   ng-model="assignment.name" required/>
        </div>
    </div>

    <duration ng-model="assignment" form="form"></duration>

    <div class="form-group" ng-class="{'has-error': form.product.$error.required}">
        <label class="col-sm-3 control-label" for="product" translate="assignment.form.product.label"></label>

        <div class="col-sm-9">
            <select required="required" id="product" name="product" class="form-control"
                    ng-model="assignment.product.id"
                    ng-options="product.id as product.name | translateModel for product in products">
                <option value="" translate="common.empty_select.label"></option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': form.vmproInstance.$error.required}">
        <label class="col-sm-3 control-label" for="vmproInstance" translate="assignment.form.instance.label"></label>

        <div class="col-sm-9">
            <select required="required"
                    id="vmproInstance"
                    name="vmproInstance"
                    class="form-control"
                    ng-model="assignment.vmproInstance.id"
                    ng-options="vmproInstance.id as vmproInstance.name for vmproInstance in vmproInstances">
                <option value="" translate="common.empty_select.label"></option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" translate="assignment.form.permanentlyDeleteVideosAllowed.label"></label>
        <toggle-switch ng-model="assignment.permanentlyDeleteVideosAllowed"><toggle-switch>
    </div>

    <fieldset>
        <legend translate="assignment.product.plans.label"></legend>
        <div class="form-group" ng-repeat="(key,plan) in plans">
            <div class="col-sm-3 col-sm-offset-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="selectedPlans[key]" ng-change="enablePlan(plan, key)">
                        {{::plan.title}}
                    </label>
                </div>
            </div>
            <div class="col-sm-3" ng-if="assignment.plans[key]"
                 ng-class="{'has-error': form.plansStartDate{{key}}.$error.required}">
                <div class="input-group">
                    <input name="plansStartDate{{key}}" type="text" class="form-control"
                           datepicker-popup="dd.MM.yyyy"
                           ng-model="assignment.plans[key].duration.startDate"
                           is-open="openedStartDate[key]"
                           min-date="actualMinStartDate"
                           ng-required="true"
                           show-button-bar="false"
                           ui-validate=" '$value.getTime() < assignment.plans[key].duration.endDate.getTime()' "
                           ui-validate-watch="'assignment.plans[{{key}}].duration.endDate'">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openStartDate($event, key)">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-3" ng-if="assignment.plans[key]"
                 ng-class="{'has-error': form.plansEndDate{{key}}.$error.validator}">
                <div class="input-group">
                    <input name="plansEndDate{{key}}" type="text" class="form-control"
                           datepicker-popup="dd.MM.yyyy"
                           ng-model="assignment.plans[key].duration.endDate" is-open="openedEndDate[key]"
                           min-date="actualMinEndDate"
                           ng-required="true"
                           show-button-bar="false"
                           ui-validate=" '$value.getTime() > assignment.plans[key].duration.startDate.getTime()' "
                           ui-validate-watch="'assignment.plans[{{key}}].duration.startDate'">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-disabled="!assignment.plans[key].duration.startDate"
                                ng-click="openEndDate($event, key)">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col-sm-6 text-left">
            <button class="btn btn-default" ui-sref="base.assignment.list" translate="common.cancel.label"></button>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn" ng-click="reset()" ng-disabled="form.$pristine" translate="form.reset.label"></button>
            <button class="btn btn-primary" ng-click="create()" ng-disabled="form.$invalid" translate="form.save.label">
            </button>
        </div>
    </div>

</form>
