<li has-role="transcoderprofile_create" ng-show="hasRole['transcoderprofile_create']">
    <a ui-sref="admin.transcoderprofile.new" title="{{ 'transcoderprofile.new.title' | translate }}">
        <i class="fa fa-plus"></i><span translate="transcoderprofile.new.label"></span>
    </a>
</li>
<li has-role="transcoderprofile_read" ng-show="hasRole['transcoderprofile_read']">
    <a ui-sref="admin.transcoderprofile.list" title="{{ 'transcoderprofile.list.title' | translate }}">
        <i class="fa fa-list-ul"></i><span translate="transcoderprofile.list.label"></span>
    </a>
</li>
