<form name="form" class="form-horizontal" novalidate>
    <div class="form-group">
        <label class="col-sm-3 control-label"
               for="current" translate>user.form.password.current.label</label>
        <div class="col-sm-9">
            <input id="current"
                   name="current"
                   type="password"
                   class="form-control"
                   ng-model="password.current" required/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"
               for="plainPassword" translate>user.form.password.new.first.label</label>
        <div class="col-sm-9">
            <input id="plainPassword"
                   name="plainPassword"
                   type="password"
                   class="form-control"
                   ng-model="password.plainPassword" required/>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.repeatedPlainPassword.$error.validator}">
        <label class="col-sm-3 control-label"
               for="repeatedPlainPassword" translate>user.form.password.new.second.label</label>
        <div class="col-sm-9">
            <input id="repeatedPlainPassword"
                   name="repeatedPlainPassword"
                   type="password"
                   class="form-control"
                   ng-model="password.repeatedPlainPassword" required
                   ui-validate=" '$value==password.plainPassword' " ui-validate-watch=" 'password.plainPassword' "
                   />
            <span class="help-block" ng-show="form.repeatedPlainPassword.$error.validator" translate>security.form.password.error</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-left"></div>
        <div class="col-sm-6 text-right">
            <button class="btn"
                    ng-click="reset()"
                    translate>form.reset.label</button>
            <button class="btn btn-primary"
                    ng-click="setPassword()"
                    ng-disabled="form.$invalid"
                    translate>form.save.label
            </button>
        </div>
    </div>
</form>
